body {
    background: black;
    /* margin: 0; */
    color: white;
    font-size: large;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 7s ease infinite;
    -moz-animation: Gradient 7s ease infinite;
    animation: Gradient 7s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

a {
    color: white;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.underscore {
    opacity: 1;
    animation: cursor 1s infinite;
}

#titleLoad1 {
    font-size: 30px;
}

#titleLoad2 {
    font-size: 50px;
}

#titleLoad3 {
    font-size: 25px;
}

#titleLoad4 {
    font-size: 20px;
}

.titleLoad {
    font-family: sans-serif;
}

@keyframes cursor {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.absBottom {
    position: absolute;
    bottom: 5%;
}